body
{
    background-color: #000;
    color: #fff;
}

label
{
    color: #e26b16;
}

.text_field
{
	width: 100%;
	border: 1px solid #fff;
	border-radius: 3px 3px 3px;
}

#mymsg
{
	width: 100%;
	margin-left: 0.4%;
}

#MSG
{
	border: 1px solid #fff;
	border-radius: 10px 10px 10px;
	
	width: 100%;
}
#MSG div
{
	margin: 1em 0;
	display: block;
	-webkit-margin-before: 0.2em;
	-webkit-margin-after: 0.2em;
	-webkit-margin-start: 0.2em;
	-webkit-margin-end: 0.2em;
	font-size: 1.3em;
}

/* .sender
{
	border: 1px solid #fff;
	border-radius: 10px 10px 10px;
	background-color: #E0FFFF;
} */


.sender
{
	
	position: relative;
	padding: 7px;
	margin: 1em 0 3em;
	margin-left: 3em;
	color: #fff;
	background: #075698;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background: -moz-linear-gradient(#2e88c4, #075698);
	background: -o-linear-gradient(#2e88c4, #075698);
	background: linear-gradient(#2e88c4, #075698);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.sender:after
{
	top: 16px;
	left: -40px;
	bottom: auto;
	border-width: 15px 40px 0 0;
	border-color: transparent #075698;
}


.receiver
{
	position: relative;
	padding: 7px;
	margin: 123em 0 1em;	
	color: #fff;
	background: #FF6347;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FF7F50), to(#FF6347));
	background: -moz-linear-gradient(#FF7F50, #FF6347);
	background: -o-linear-gradient(#FF7F50, #FF6347);
	background: linear-gradient(#FF7F50, #FF6347);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.receiver:after
{
	top: 16px;
	left: -10px;
	bottom: auto;
	border-width: 15px 40px 0 0;
	border-color: transparent #FF6347;	
}